<h1>Visual tests</h1>

<ul>
  <li>
    <a routerLink="visual/borders">Borders</a>
  </li>
  <li>
    <a routerLink="visual/buttons">Buttons</a>
  </li>
  <li>
    <a routerLink="visual/inputs">Inputs</a>
  </li>
  <li>
    <a routerLink="visual/responsive">Responsive</a>
  </li>
  <li>
    <a routerLink="visual/switch-controls">Switch controls</a>
  </li>
  <li>
    <a routerLink="visual/theme-if">Theme if</a>
  </li>
  <li>
    <a routerLink="visual/theming">Theming</a>
  </li>
  <li>
    <a routerLink="visual/validation">Validation</a>
  </li>
</ul>
