<div id="screenshot-fonts">
  <p>
    Fonts: {{ status }}
  </p>

  <ul>
    <li>
      <span
        class="icon login"
      ></span>
      Custom V4 Login
    </li>
    <li>
      <span
        class="icon tps"
      ></span>
      Custom V5 (new icon) TPS Reports
    </li>
    <li>
      <span
        class="icon twitter"
      ></span>
      Custom V5 (old icon) Twitter
    </li>
    <li>
      <i
        class="fa fa-bank"
      ></i>
      V4 Bank
    </li>
    <li>
      <i
        class="fas fa-university"
      ></i>
      V5 FAS - University
    </li>
    <li>
      <i
        class="far fa-chart-bar"
      ></i>
      V5 FAR - Chart Bar
    </li>
    <li>
      <i
        class="fab fa-amazon-pay"
      ></i>
      V5 FAB - Amazon Pay
    </li>
  </ul>
</div>
