<h1>
  Fonts
</h1>

<div id="screenshot-fonts">
  <p>
    Status: {{ status }}
  </p>

  <table>
    <tr>
      <th>Font name</th>
      <th>Prefix</th>
      <th>Output</th>
    </tr>
    <tr>
      <td>university</td>
      <td>fas</td>
      <td><i class="fas fa-university"></i></td>
    </tr>
    <tr>
      <td>facebook</td>
      <td>fab</td>
      <td><i class="fab fa-facebook"></i></td>
    </tr>
    <tr>
      <td>circle</td>
      <td>far</td>
      <td><i class="far fa-circle"></i></td>
    </tr>
  </table>
</div>