$fabase: "https://use.fontawesome.com/releases/v5.8.2/";

@import url("#{ $fabase }css/all.css");

/* Shim the icon names (provided by FA) */
@import url("#{ $fabase }css/v4-shims.css");

/* Shim the FontAwesome family name (not provided by FA) */
@mixin fashim($weight) {
  @font-face{
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: $weight;
    font-display: auto;
    src:  url("#{$fabase}webfonts/fa-regular-#{$weight}.eot");
    src:  url("#{$fabase}webfonts/fa-regular-#{$weight}.eot?#iefix") format("embedded-opentype"),
          url("#{$fabase}webfonts/fa-regular-#{$weight}.woff2") format("woff2"),
          url("#{$fabase}webfonts/fa-regular-#{$weight}.woff") format("woff"),
          url("#{$fabase}webfonts/fa-regular-#{$weight}.ttf") format("truetype"),
          url("#{$fabase}webfonts/fa-regular-#{$weight}.svg#fontawesome") format("svg");
  }
}

@include fashim(400);
@include fashim(900);

@import '~normalize-scss/sass/normalize/import-now';

@import 'buttons';
@import 'container';
@import 'dragdrop';
@import 'fonts';
@import 'forms';
@import 'input-groups';
@import 'modals';
@import 'palette';
@import 'sizing';
@import 'switch';
@import 'theme';
@import 'type';
