$faver: "5.8.2";
$fabase: "https://use.fontawesome.com/releases/v#{$faver}";

@import url("#{ $fabase }css/all.css");

/* Shim the icon names (provided by FA) */
@import url("#{ $fabase }css/v4-shims.css");

/* Shim the FontAwesome family name (not provided by FA) */
@mixin fashim($weight) {
  @font-face{
    font-family: "FontAwesome";
    src:  url("#{$fabase}webfonts/fa-regular-#{$weight}.eot?v=#{$faver}");
    src:  url("#{$fabase}webfonts/fa-regular-#{$weight}.eot?v=#{$faver}#iefix") format("embedded-opentype"),
          url("#{$fabase}webfonts/fa-regular-#{$weight}.woff2?v=#{$faver}") format("woff2"),
          url("#{$fabase}webfonts/fa-regular-#{$weight}.woff?v=#{$faver}") format("woff"),
          url("#{$fabase}webfonts/fa-regular-#{$weight}.ttf?v=#{$faver}") format("truetype"),
          url("#{$fabase}webfonts/fa-regular-#{$weight}.svg?v=#{$faver}#fontawesome") format("svg");
    font-style: normal;
    font-weight: $weight;
  }
}

@include fashim(400);
@include fashim(900);

@import '~normalize-scss/sass/normalize/import-now';

@import 'buttons';
@import 'container';
@import 'dragdrop';
@import 'fonts';
@import 'forms';
@import 'input-groups';
@import 'modals';
@import 'palette';
@import 'sizing';
@import 'switch';
@import 'theme';
@import 'type';
