<sky-docs-demo-control-panel-theme
  (themeSettingsChange)="themeSettingsChange($event)"
></sky-docs-demo-control-panel-theme>

<div
  class="sky-switch-icon-group sky-margin-stacked-default"
>
  <sky-checkbox
    icon="bold"
    label="Bold"
  >
  </sky-checkbox>
  <sky-checkbox
    icon="italic"
    label="Italicized"
  >
  </sky-checkbox>
  <sky-checkbox
    icon="underline"
    label="Underline"
  >
  </sky-checkbox>
</div>
<div
  class="sky-switch-icon-group sky-margin-stacked-default"
>
  <sky-checkbox
    icon="bold"
    label="Bold"
    [disabled]="true"
  >
  </sky-checkbox>
  <sky-checkbox
    icon="bold"
    label="Bold"
    [checked]="true"
    [disabled]="true"
  >
  </sky-checkbox>
</div>
<div
  class="sky-switch-icon-group sky-margin-stacked-default"
>
  <sky-radio-group
    name="radioDemo"
  >
    <sky-radio
      icon="align-left"
      label="Left align"
    >
    </sky-radio>
    <sky-radio
      icon="align-center"
      label="Center align"
    >
    </sky-radio>
    <sky-radio
      icon="align-right"
      label="Right align"
    >
    </sky-radio>
  </sky-radio-group>
</div>
<sky-radio-group
  name="radioDemoDisabled"
>
  <div
    class="sky-switch-icon-group sky-margin-stacked-default"
  >
    <sky-radio
      icon="align-left"
      label="Left align"
      [disabled]="true"
    >
    </sky-radio>
    <sky-radio
      icon="align-center"
      label="Center align"
      [disabled]="true"
    >
    </sky-radio>
    <sky-radio
      icon="align-right"
      label="Right align"
      [disabled]="true"
    >
    </sky-radio>
  </div>
</sky-radio-group>
