@import '../../variables-public';

.sky-theme-modern {
  .sky-deemphasized {
    color: $sky-theme-modern-font-deemphasized-color;
    font-size: $sky-theme-modern-font-deemphasized-size;
    font-style: $sky-theme-modern-font-deemphasized-style;
  }

  .sky-emphasized {
    font-weight: $sky-theme-modern-font-emphasized-weight;
  }

  /* Experimental; eventually these color values should be moved to design tokens */
  &.sky-theme-mode-dark {
    .sky-emphasized {
      color: #fff;
    }
  }
}
